.regional-bar{ 
	font-size: 16px; 
	font-family: segoe ui, arial, sans-serif; 
	background:#dcdcdc; 
	float:left; 
	width: 100%; 
	position:fixed; 
	z-index: 11; 
	padding: 0 1em; 
	color:#868686;
	display: -webkit-flex;
	display:flex;
}
.regional-bar a { color:#868686; font-weight:bold; display:inline-block; padding:.25em; }
.regional-bar a:hover{ text-decoration:none; color:#0052a5; }
.regional-bar a:not(.glyph-button):hover .glyphicon{ color: #868686; }
.regional-bar .glyphicon{ top:auto; vertical-align:middle; }
.region-seal img{ margin-right:.25em; }

.regional-breadcrumb{ 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}
#regional-domain-link{ flex: 1; overflow:hidden; text-overflow:ellipsis; }
.regional-breadcrumb > span{ display:inline-block; vertical-align:middle; }

.regional-nav{ margin:0; /* display:none; */  }
/* #govt-link, #mobile-link, #translate-link, #textsize-link, #bookmark-link{ display:none; } */

.regional-nav li{ display:inline-block; list-style:none outside none; }
.regional-nav a{ padding:.594em .5em; }
.regional-nav a.active{ background:#fff; color:#0052a5; box-shadow:0px -6px 8px #555; text-decoration:none;}
.regional-nav .nav-text{ vertical-align:middle; }
.regional-nav .glyphicon{ font-size: 1.5em; }
.regional-nav .active .glyphicon-option-vertical:before{content: "\e014";} 
.regional-nav .active .glyphicon-option-vertical{font-size:1em; width:1.5em; height:1.5em; text-align:center; padding-top:.25em; }
.pseudo-glyph { height: 1.5em; margin-left:.25em; width: 1.5em; background:url(../img/translate.png) no-repeat center center; display:inline-block; vertical-align:middle; background-size: 100% 100%; }
.active .pseudo-glyph, #translate-menu:hover .pseudo-glyph{ background-image:url(../img/translate-hover.png); }

.regional-bar + div{ margin-top:44px;}
#translate{ width:auto; min-width: 450px; }
#translate-menu:hover{ color:#3a81f7; }
#translate-link .active{ color:#3a81f7; }
.regional-bar .bookmark-glyph:hover{ color:#e40505; }
.regional-bar .textsize-glyph:hover{ color:#000; }

.closing-icon{ float:right; color:#5b5b5b; }
.closing-icon:hover{ color:#f00; }


#size{ width:auto; padding:0 0em 0 0; margin-right:1em; }
#size .regional-size-inner-wrap {
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
}
#size .regional-size-inner-wrap a{ height: 100%; width: 50px; color:#0052a5; display:flex; justify-content:center; align-content:center; align-items:center; padding:.5em; font-weight:600;}
#size .regional-size-inner-wrap a:hover, #size .regional-size-inner-wrap a.current-size{ color:#fff; background:#0052a5; text-decoration:none;}
#size .regional-size-inner-wrap a.small-link{ font-size: small; }
#size .regional-size-inner-wrap a.large-link{ font-size: large; }
.top-dropdown{ display:none; position:fixed; right:0; background:#fff; margin:0; padding: 1em; box-shadow:0 0 8px #555; z-index:10; top:44px; max-width: 100%; width:100%; font-size:medium; max-height:100%; max-height: calc(100% - 44px); overflow:auto; }
.top-dropdown li{ white-space:nowrap; display:block; }
.dropdown-note{ position:relative; margin-bottom:.5em; } .dropdown-note > span{ line-height: 1; }
.dropdown-title{ font-weight:bold; color:#0052a5; display:block; }
.dropdown-subtitle{ font-weight: 600; color:#5b5b5b; font-size:.875em;  }

#translate a{ color:#5b5b5b; text-decoration:none; font-weight: 600; display:inline-block; padding:.25em 0; }
#translate a:hover{ color: #0052a5; }
#translate a img{ margin-right: 1em; }

.top-dropdown.menu-dropdown{ padding:0 3em; }
.menu-dropdown ul{ margin:0; }
.menu-dropdown a{ color:#0052a5; font-weight:normal; display:block; padding:.5em 1em; white-space:normal; border: 1px solid transparent;}
.menu-dropdown ul a{ /* padding-left: 1.5em */; }
.menu-dropdown a:hover{ /* color:#fff; background:#0052a5; */ text-decoration:none; /* box-shadow:0 1px 1px #000 inset; */ border: 1px solid #ccc; }
.menu-dropdown li{ /* border-top: 1px solid #ccc; */ }
.menu-dropdown > li:first-child{ border-top:0; }

.regional-bar-children-links{ display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-align-content:center; align-content:center; -webkit-align-items:stretch; align-items:stretch; padding-left:8em; }
.regional-bar-children-links .regional-bar-link-text{ display:none; }

#regional .regional-bar-link-text{ padding-left:1em; flex:1; }
.regional-bar-link-wrap{ 
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-align-content:flex-start;
	align-content:flex-start;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	justify-content:space-around;
}
.regional-bar-half{ width:50%; }

.regional-bar-link-text{ font-weight:bold; }
.regional-bar-link-text > span{ display:block; }
.regional-bar-link-url{ color:#5b5b5b; }

#regional.top-dropdown{ padding: 1em 3em; }
#regional a{ height:100%; display:inline-block; }
#regional a .regional-bar-flex { display:-webkit-flex; display:flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-align-content:center; align-content:center; -webkit-align-items:center; align-items:center; height:100%; }
#regional .regional-bar-half > li{ min-height:100px; }
#regional a .regional-bar-flex img{ max-height: 40px; }
#regional ul a .regional-bar-flex{ min-width: 80px; -webkit-justify-center:center; justify-content:center;  }
#govt .regional-bar-flex img{ max-height:80px; }
#govt .regional-bar-link-wrap{ justify-content: flex-start; padding: 1em 0; }
#govt .regional-bar-link-wrap > li{ width: 16.6666%; text-align:center; min-width:200px; }
#govt .regional-bar-link-wrap > li > a{ width: 100%; text-align:center; min-width:200px; padding:2em 1em;}
#govt .regional-bar-link-url{ font-size: .775em; }

#mobile{ padding:1em 0 0;  }
#mobile > li > a{ font-size:1.125em; font-weight:600; }
#mobile > li{ margin:0 0 1em;}
#mobile a {padding:.5em; }
#mobile a:hover{ color:#fff; background:#0052a5; text-decoration:none; box-shadow:0 1px 1px #000 inset; } 
#mobile a:active, #mobile a:focus{ text-decoration:none; }
#mobile ul a{ padding-left: 2em; }
#mobile ul ul a{ padding-left: 3em; }

.regional-bar-sub-menu{ display:none; }
@media( max-width: 1330px) and (min-width: 768px){
	
}
@media( max-width: 1320px) and (min-width: 768px){
	#govt .regional-bar-link-wrap > li{ width: 20%;}
}
@media( max-width: 1095px){
	#govt .regional-bar-link-wrap > li{ width: 25%;}
}
@media (max-width: 1040px){
	#translate-menu .nav-text{ display:none; }
}
@media (max-width: 1024px) and (min-width: 992px){
	.regional-bar-children-links{ padding-left:0; }
}
@media (max-width: 991px){
	.regional-bar-half{ width: 100%; }
	#regional .regional-bar-half > li{ min-height:0; }
	#regional.top-dropdown{ padding: 1em; }
}
@media( max-width: 895px){
	#govt .regional-bar-link-wrap > li{ width: 33.33333%;}
}
@media (max-width: 970px){
	.region-text{ display:none; }
}
@media (min-width: 791px){
	.nav-smalltext{ display:none; }
}
@media (max-width: 790px){
	.nav-subtext{ display:none; }
}
@media (max-width: 500px){
	#translate{ min-width: 0; }
}
@media (max-width: 380px){
	#translate a{ font-size: .875em; }
}
@media (max-width: 330px){
	#translate a{ font-size: .75em; }
}
/*@media (max-width: 767px){
	#mobile-link{ display:none!important; }
	#regional-link{ display:inline-block!important; }
	.regional-bar{ padding-right:0; }
	.regional-nav a{ padding:.563em .5em; }
}
@media (max-width: 460px){
	.nav-text{ display:none; }
} */